#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 214, 118);
}

.App p {
  color: #934f13;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #572f0d;
  border-radius: 5px;
  background-color: #fff6e3;
}